# Assignment: SQL Notebook for Peer Assignment

In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
con=sql.connect('my_data1.db')

In [21]:
%sql sqlite:///my_data1.db

In [22]:
data=pd.read_csv('datasets/Spacex.csv')
data.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [26]:
data.to_sql('spacex',con)

In [25]:
%%sql
select * from spacex limit 5

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [28]:
%%sql
select distinct(Launch_Site) from spacex

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [82]:
%%sql
select * from spacex where Launch_Site like "CCA%" limit 5

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [50]:
%%sql
select Customer, sum(PAYLOAD_MASS__KG_) as 'TOTAL PAYLOAD' from spacex where Customer like '%NASA%(CRS)%'

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('NASA (CRS)', 48213)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [49]:
%%sql
select Booster_Version, avg(PAYLOAD_MASS__KG_) as 'AVERAGE PAYLOAD' from spacex where Booster_Version like '%F9 v1.1%'

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('F9 v1.1  B1003', 2534.6666666666665)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [52]:
%%sql
# select min(Date) from spacex where 
select distinct

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('2010-06-04',)]

## Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [58]:
%%sql
select Booster_Version	from spacex where Landing_Outcome = 'Success (drone ship)' and PAYLOAD_MASS__KG_ >4000 and PAYLOAD_MASS__KG_<6000

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [80]:
%%sql
select Mission_Outcome, count(Mission_Outcome) as outcome from spacex group by Mission_Outcome

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [67]:
%%sql
select Booster_Version, PAYLOAD_MASS__KG_ from spacex where PAYLOAD_MASS__KG_ =(select max(PAYLOAD_MASS__KG_) from spacex)

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [70]:
%%sql
select substr(Date,6,2) as Month, Landing_Outcome, Booster_Version, Launch_Site from spacex where substr(Date,0,5)='2015' and Landing_Outcome like '%failure%'

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [78]:
%%sql
select Landing_Outcome, count(*) as Count_Launches from spacex where
 Date>='2010-06-04' and Date<='2017-03-20'
group by Landing_Outcome order by Count_Launches desc

 * sqlite:///my_data1.db
   sqlite:///mydata1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]