# HR Schema

In [1]:
import pandas as pd
import sqlite3 as sql

In [4]:
cnn=sql.connect('HR.db')

In [6]:
%load_ext sql

In [7]:
%sql sqlite:///Hr.db

In [39]:
%%sql
drop table if exists employees;
drop table if exists job_history;
drop table if exists jobs;
drop table if exists departments;
drop table if exists locations;
CREATE TABLE EMPLOYEES (
                            EMP_ID CHAR(9) NOT NULL, 
                            F_NAME VARCHAR(15) NOT NULL,
                            L_NAME VARCHAR(15) NOT NULL,
                            SSN CHAR(9),
                            B_DATE DATE,
                            SEX CHAR,
                            ADDRESS VARCHAR(30),
                            JOB_ID CHAR(9),
                            SALARY DECIMAL(10,2),
                            MANAGER_ID CHAR(9),
                            DEP_ID CHAR(9) NOT NULL,
                            PRIMARY KEY (EMP_ID));
                            
  CREATE TABLE JOB_HISTORY (
                            EMPL_ID CHAR(9) NOT NULL, 
                            START_DATE DATE,
                            JOBS_ID CHAR(9) NOT NULL,
                            DEPT_ID CHAR(9),
                            PRIMARY KEY (EMPL_ID,JOBS_ID));
 
 CREATE TABLE JOBS (
                            JOB_IDENT CHAR(9) NOT NULL, 
                            JOB_TITLE VARCHAR(30),
                            MIN_SALARY DECIMAL(10,2),
                            MAX_SALARY DECIMAL(10,2),
                            PRIMARY KEY (JOB_IDENT));

CREATE TABLE DEPARTMENTS (
                            DEPT_ID_DEP CHAR(9) NOT NULL, 
                            DEP_NAME VARCHAR(15) ,
                            MANAGER_ID CHAR(9),
                            LOC_ID CHAR(9),
                            PRIMARY KEY (DEPT_ID_DEP));

CREATE TABLE LOCATIONS (
                            LOCT_ID CHAR(9) NOT NULL,
                            DEP_ID_LOC CHAR(9) NOT NULL,
                            PRIMARY KEY (LOCT_ID,DEP_ID_LOC));

 * sqlite:///Hr.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [50]:
department=pd.read_csv('datasets/Departments.csv',index_col='DEPT_ID_DEP')
department.to_sql('departments',cnn, if_exists='append')
department

OperationalError: table "departments" already exists

In [22]:
# jobs=pd.read_csv('datasets/Jobs.csv')
# jobs.to_sql('jobsall',cnn)
# jobs_history=pd.read_csv('datasets/JobsHistory.csv')
# jobs_history.to_sql('jobshistory',cnn)
# locations=pd.read_csv('datasets/Locations.csv')
# locations.to_sql('locationsall',cnn)
# employee=pd.read_csv('datasets/Employees.csv')
# employee.to_sql('employees',cnn)

In [43]:
%%sql
select * from departments

 * sqlite:///Hr.db
Done.

[]