# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R
4. Julia
5. JavaScript
6. Scala
7. Java

### Some of the commonly used libraries used by Data Scientists include:
1. matplotlab
2. pandas
3. numpy
4. tensorflow
5. seaborn
6. pyTorch

| Data Science Tools |
|:----:|
| python |
|R|
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60.

In [5]:
minutes=200
hours=minutes/60
print(f'{minutes} minutes is {hours} hours')

200 minutes is 3.3333333333333335 hours

### **objectives:** 
- list popular languages for data science
- commonly used libraries used by Data Scientists
- arithmetic expressions
- convert minutes to hours

## Author 
Thukaram Amruth Pai